<% provide(:title, t(".title_begin")) %>
<div class="container">
	<h1><%= t ".title_begin"%></h1>
	<p>
	  <%= t".p1" %>
	  <%= link_to t(".p2") , t(".href1") %>
	  <%= t".p3" %>
	  <%= link_to t(".p4") , t(".href2") %>
	  <%= t".p5" %>
	</p>
</div>
