<% provide :title, t(".title_begin") %>
<div id="help" class="container center">
  <h1><%= t ".title_begin" %></h1>
  <%= t ".p1" %>
  <%= link_to t(".link1"), Settings.href_help %>
  <%= t ".p2" %>
  <%= link_to t(".link2"), Settings.href_book %>
</div>


