<% provide(:title, t(".title_begin")) %>
<div id="sign_up" class="container">
  <h1 class="center"><%= t ".title_begin"%></h1>
  <%= render "shared/error_messages" %>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <%= link_to t(".change"), Settings.users.form.link_change_img, "target": "_blank" %>
  </div>
  <%= render "form" %>
</div>


