<header class="container-fuild">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to t("logo"), root_path, id: "logo", class: "navbar-brand"%>
        <div class="navbar_item">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to t("nav_item1"), root_path , class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("nav_item2"), about_path , class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("nav_item3"), help_path , class: "nav-link" %>
            </li>
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to t("text_users"), users_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <%= link_to t("account"), "#", "data-toggle": "dropdown",
                                       class: "nav-link dropdown-toggle" %>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <%= link_to t("profile"), current_user, class: "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to t("setting") , edit_user_path(current_user),
                             class: "dropdown-item" %>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                    <%= link_to t("logout"), logout_path, method: :delete,
                                             class: "dropdown-item"%>
                  </li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t("nav_item4"), login_path , class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="language">
      <ul>
        <li><%= link_to t("el"), locale: :en %></li>
        <li><%= link_to t("vn"), locale: :vi %></li>
      </ul>
    </div>
  </div>
</header>
